nav {
  padding: 0.5rem;
  background-color: var(--primary);
  color: white;
  .logo {
    font-weight: 700;
  }

  li {
    margin-left: 1rem;
    &:hover {
      background-color: var(--secondary);
      cursor: pointer;
    }
  }
}
