img {
  max-width: 40rem;
  max-height: 30rem;
}

button {
  max-width: fit-content;
}

.cocktailDescription {
  text-align: justify;
}

.list-ingredient {
  display: flex;
  justify-content: space-between;
}

.list-ingredient-container {
  margin-top: 1rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}
